@import '../helpers/mixins';
@import '../helpers/variables';


* {
    box-sizing: border-box;
    clear: both;
}
body {
    background-color: $bodyColor;
}

ul,ol{
    list-style: none;
}
img { 
    width: 100%;
}